.new-btn {
	color: gray;
	border-radius: 50%;
	text-align: center;
	box-shadow: 2px 2px 2px gray;
	font-size: 20px;
	padding: 5px;
	position: absolute;
	top: 20px;
	right: 70px;
}

.table {
	width: 90%;
	margin: 10px auto;
}

.page {
	text-align: center;
}

p {
	margin: 10px;
}

.non-border {
	border: none;
}