<h3>注文一覧画面</h3>
<table class="table" style="max-width: 800px;">
	<thead>
		<tr style="background-color: lightgray;">
			<th>購入日時</th>
			<th>購入者</th>
			<th>注文個数</th>
			<th>注文ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
		<tr>
			<td><%=link_to order.created_at, admins_order_path(order), data: {turbolinks: false} %></td>
			<td><%= order.customer.last_name + order.customer.first_name %></td>
			<td>
				<% total_quantity = 0 %>

				<% order.order_products.each do |order_product| %>
				<% total_quantity += order_product.quantity %>
				<% end %>

				<%= total_quantity %>
			</td>
			<td><%= order.status %></td>
		</tr>
		<% end %>
	</tbody>
</table>